# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.11.2
absl-py=2.1.0=pypi_0
aiocache=0.12.3=pypi_0
aiofiles=24.1.0=pypi_0
aiohappyeyeballs=2.4.4=pypi_0
aiohttp=3.11.8=pypi_0
aiosignal=1.3.2=pypi_0
alembic=1.14.0=pypi_0
anaconda-anon-usage=0.5.0=py312hd6b623d_100
annotated-types=0.7.0=pypi_0
anthropic=0.45.2=pypi_0
anyio=4.8.0=pypi_0
appdirs=1.4.4=pypi_0
apscheduler=3.10.4=pypi_0
archspec=0.2.3=pyhd3eb1b0_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
asgiref=3.8.1=pypi_0
astunparse=1.6.3=pypi_0
async-timeout=5.0.1=pypi_0
attrs=24.3.0=pypi_0
audioread=3.0.1=pypi_0
authlib=1.3.2=pypi_0
av=12.3.0=pypi_0
backoff=2.2.1=pypi_0
bcrypt=4.2.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
bidict=0.23.1=pypi_0
bitarray=3.0.0=pypi_0
black=24.8.0=pypi_0
blinker=1.9.0=pypi_0
boltons=23.0.0=py312hca03da5_0
boto3=1.35.53=pypi_0
botocore=1.35.99=pypi_0
brotli-python=1.0.9=py312h313beb8_8
build=1.2.2.post1=pypi_0
bzip2=1.0.8=h80987f9_6
c-ares=1.19.1=h80987f9_0
ca-certificates=2024.11.26=hca03da5_0
cachetools=5.5.1=pypi_0
certifi=2024.12.14=py312hca03da5_0
cffi=1.17.1=py312h3eb5a62_0
chardet=5.2.0=pypi_0
charset-normalizer=3.3.2=pyhd3eb1b0_0
chroma-hnswlib=0.7.6=pypi_0
chromadb=0.6.2=pypi_0
click=8.1.8=pypi_0
colbert-ai=0.2.21=pypi_0
colorclass=2.2.2=pypi_0
coloredlogs=15.0.1=pypi_0
compressed-rtf=1.0.6=pypi_0
conda=24.11.2=py312hca03da5_0
conda-anaconda-telemetry=0.1.1=py312hca03da5_0
conda-content-trust=0.2.0=py312hca03da5_1
conda-libmamba-solver=24.9.0=pyhd3eb1b0_0
conda-package-handling=2.4.0=py312hca03da5_0
conda-package-streaming=0.11.0=py312hca03da5_0
contourpy=1.3.1=pypi_0
cryptography=43.0.3=py312h8026fc7_1
ctranslate2=4.5.0=pypi_0
cycler=0.12.1=pypi_0
dataclasses-json=0.6.7=pypi_0
datasets=3.2.0=pypi_0
decorator=5.1.1=pypi_0
deepseek-sdk=0.1.0=pypi_0
defusedxml=0.7.1=pypi_0
deprecated=1.2.15=pypi_0
dill=0.3.8=pypi_0
diskcache=5.6.3=pypi_0
distro=1.9.0=py312hca03da5_0
dnspython=2.7.0=pypi_0
docker=7.1.0=pypi_0
docx2txt=0.8=pypi_0
duckduckgo-search=7.2.1=pypi_0
durationpy=0.9=pypi_0
easygui=0.98.3=pypi_0
ebcdic=1.1.1=pypi_0
ecdsa=0.19.0=pypi_0
einops=0.8.0=pypi_0
email-validator=2.2.0=pypi_0
emoji=2.14.1=pypi_0
et-xmlfile=2.0.0=pypi_0
eval-type-backport=0.2.2=pypi_0
events=0.5=pypi_0
expat=2.6.4=h313beb8_0
extract-msg=0.52.0=pypi_0
fake-useragent=1.5.1=pypi_0
fastapi=0.111.0=pypi_0
fastapi-cli=0.0.7=pypi_0
faster-whisper=1.0.3=pypi_0
filelock=3.16.1=pypi_0
filetype=1.2.0=pypi_0
flask=3.1.0=pypi_0
flask-cors=5.0.0=pypi_0
flask-limiter=3.10.0=pypi_0
flask-navigation=0.2.0=pypi_0
flatbuffers=24.12.23=pypi_0
fmt=9.1.0=h48ca7d4_1
fonttools=4.55.3=pypi_0
fpdf2=2.8.2=pypi_0
frozendict=2.4.2=py312hca03da5_0
frozenlist=1.5.0=pypi_0
fs=2.4.16=pypi_0
fsspec=2024.9.0=pypi_0
ftfy=6.2.3=pypi_0
fuzzywuzzy=0.18.0=pypi_0
gast=0.6.0=pypi_0
gcp-storage-emulator=2024.8.3=pypi_0
gguf=0.14.0=pypi_0
git-python=1.0.3=pypi_0
gitdb=4.0.12=pypi_0
gitpython=3.1.44=pypi_0
google-ai-generativelanguage=0.6.6=pypi_0
google-api-core=2.24.1=pypi_0
google-api-python-client=2.160.0=pypi_0
google-auth=2.38.0=pypi_0
google-auth-httplib2=0.2.0=pypi_0
google-auth-oauthlib=1.2.1=pypi_0
google-cloud-core=2.4.1=pypi_0
google-cloud-storage=2.19.0=pypi_0
google-crc32c=1.6.0=pypi_0
google-generativeai=0.7.2=pypi_0
google-pasta=0.2.0=pypi_0
google-resumable-media=2.7.2=pypi_0
googleapis-common-protos=1.63.2=pypi_0
gpt=0.2=pypi_0
grpcio=1.67.1=pypi_0
grpcio-status=1.63.0rc1=pypi_0
grpcio-tools=1.62.3=pypi_0
h11=0.14.0=pypi_0
h2=4.2.0=pypi_0
h5py=3.12.1=pypi_0
hpack=4.1.0=pypi_0
httpcore=1.0.7=pypi_0
httplib2=0.22.0=pypi_0
httptools=0.6.4=pypi_0
httpx=0.27.2=pypi_0
httpx-sse=0.4.0=pypi_0
huggingface-hub=0.27.1=pypi_0
humanfriendly=10.0=pypi_0
hyperframe=6.1.0=pypi_0
icu=73.1=h313beb8_0
idna=3.7=py312hca03da5_0
importlib-metadata=8.4.0=pypi_0
importlib-resources=6.5.2=pypi_0
iniconfig=2.0.0=pypi_0
itsdangerous=2.2.0=pypi_0
jax=0.5.0=pypi_0
jaxlib=0.5.0=pypi_0
jinja2=3.1.5=pypi_0
jiter=0.8.2=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.4.2=pypi_0
jsonpatch=1.33=py312hca03da5_1
jsonpath-python=1.0.6=pypi_0
jsonpointer=2.1=pyhd3eb1b0_0
keras=3.7.0=pypi_0
kiwisolver=1.4.8=pypi_0
krb5=1.20.1=hf3e1bf2_1
kubernetes=32.0.0=pypi_0
langchain=0.3.7=pypi_0
langchain-community=0.3.7=pypi_0
langchain-core=0.3.33=pypi_0
langchain-deepseek=0.0.3=pypi_0
langchain-ollama=0.2.2=pypi_0
langchain-tests=0.3.10=pypi_0
langchain-text-splitters=0.3.5=pypi_0
langdetect=1.0.9=pypi_0
langfuse=2.44.0=pypi_0
langsmith=0.1.147=pypi_0
lark=1.1.9=pypi_0
lazy-loader=0.4=pypi_0
ldap3=2.9.1=pypi_0
levenshtein=0.25.1=pypi_0
libarchive=3.7.4=h8f13d7a_0
libclang=18.1.1=pypi_0
libcurl=8.9.1=h3e2b118_0
libcxx=14.0.6=h848a8c0_0
libedit=3.1.20230828=h80987f9_0
libev=4.33=h1a28f6b_1
libffi=3.4.4=hca03da5_1
libiconv=1.16=h80987f9_3
libmamba=1.5.11=haeffa04_0
libmambapy=1.5.11=py312h15e39b3_0
libnghttp2=1.57.0=h62f6fdd_0
librosa=0.10.2.post1=pypi_0
libsolv=0.7.24=h514c7bf_1
libssh2=1.11.1=h3e2b118_0
libxml2=2.13.5=h0b34f26_0
limits=4.0.0=pypi_0
llama-cpp-python=0.2.72=pypi_0
llvmlite=0.43.0=pypi_0
loguru=0.7.2=pypi_0
lxml=5.3.0=pypi_0
lz4-c=1.9.4=h313beb8_1
mako=1.3.8=pypi_0
markdown=3.7=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=3.0.2=pypi_0
marshmallow=3.26.0=pypi_0
matplotlib=3.10.0=pypi_0
mdurl=0.1.2=pypi_0
mediapipe=0.10.20=pypi_0
menuinst=2.2.0=py312hca03da5_0
milvus-lite=2.4.11=pypi_0
ml-dtypes=0.4.1=pypi_0
mmh3=5.1.0=pypi_0
monotonic=1.6=pypi_0
moto=5.0.27=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.1.0=pypi_0
msoffcrypto-tool=5.4.2=pypi_0
multidict=6.1.0=pypi_0
multiprocess=0.70.16=pypi_0
mypy-extensions=1.0.0=pypi_0
namex=0.0.8=pypi_0
ncurses=6.4=h313beb8_0
nest-asyncio=1.6.0=pypi_0
networkx=3.4.2=pypi_0
ninja=1.11.1.3=pypi_0
nltk=3.9.1=pypi_0
numba=0.60.0=pypi_0
numpy=1.26.4=pypi_0
oauthlib=3.2.2=pypi_0
olefile=0.47=pypi_0
oletools=0.60.2=pypi_0
ollama=0.4.5=pypi_0
onnxruntime=1.20.1=pypi_0
open-webui=0.5.7=pypi_0
openai=1.61.0=pypi_0
opencv-contrib-python=4.11.0.86=pypi_0
opencv-python=4.11.0.86=pypi_0
opencv-python-headless=4.10.0.84=pypi_0
openpyxl=3.1.5=pypi_0
opensearch-py=2.7.1=pypi_0
openssl=3.0.15=h80987f9_0
opentelemetry-api=1.27.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.27.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.27.0=pypi_0
opentelemetry-instrumentation=0.48b0=pypi_0
opentelemetry-instrumentation-asgi=0.48b0=pypi_0
opentelemetry-instrumentation-fastapi=0.48b0=pypi_0
opentelemetry-proto=1.27.0=pypi_0
opentelemetry-sdk=1.27.0=pypi_0
opentelemetry-semantic-conventions=0.48b0=pypi_0
opentelemetry-util-http=0.48b0=pypi_0
opt-einsum=3.4.0=pypi_0
optree=0.13.1=pypi_0
ordered-set=4.1.0=pypi_0
orjson=3.10.13=pypi_0
overrides=7.7.0=pypi_0
packaging=23.2=pypi_0
pandas=2.2.3=pypi_0
pandas-datareader=0.10.0=pypi_0
passlib=1.7.4=pypi_0
pathspec=0.12.1=pypi_0
pcodedmp=1.2.6=pypi_0
pcre2=10.42=hb066dcc_1
peewee=3.17.8=pypi_0
peewee-migrate=1.12.2=pypi_0
pgvector=0.3.5=pypi_0
pillow=11.1.0=pypi_0
pip=25.0.1=pypi_0
platformdirs=3.10.0=py312hca03da5_0
plotly=5.24.1=pypi_0
pluggy=1.5.0=py312hca03da5_0
pooch=1.8.2=pypi_0
portalocker=2.10.1=pypi_0
posthog=3.11.0=pypi_0
primp=0.11.0=pypi_0
propcache=0.2.1=pypi_0
proto-plus=1.26.0=pypi_0
protobuf=4.25.3=pypi_0
psutil=6.1.1=pypi_0
psycopg2-binary=2.9.9=pypi_0
py-partiql-parser=0.6.1=pypi_0
pyarrow=18.1.0=pypi_0
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.1=pypi_0
pybind11-abi=5=hd3eb1b0_0
pyclipper=1.3.0.post6=pypi_0
pycosat=0.6.6=py312h80987f9_1
pycparser=2.21=pyhd3eb1b0_0
pydantic=2.9.2=pypi_0
pydantic-core=2.23.4=pypi_0
pydantic-settings=2.7.1=pypi_0
pydub=0.25.1=pypi_0
pygments=2.18.0=pypi_0
pyjwt=2.10.1=pypi_0
pymdown-extensions=10.11.2=pypi_0
pymilvus=2.5.0=pypi_0
pymongo=4.11=pypi_0
pymysql=1.1.1=pypi_0
pypandoc=1.13=pypi_0
pyparsing=3.2.1=pypi_0
pypdf=4.3.1=pypi_0
pypika=0.48.9=pypi_0
pyproject-hooks=1.2.0=pypi_0
pysocks=1.7.1=py312hca03da5_0
pytest=7.4.4=pypi_0
pytest-asyncio=0.23.8=pypi_0
pytest-docker=3.1.1=pypi_0
pytest-socket=0.7.0=pypi_0
pytest-watcher=0.3.5=pypi_0
python=3.12.8=h99e199e_0
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.0.1=pypi_0
python-engineio=4.11.2=pypi_0
python-iso639=2025.1.28=pypi_0
python-jose=3.3.0=pypi_0
python-levenshtein=0.25.1=pypi_0
python-magic=0.4.27=pypi_0
python-multipart=0.0.18=pypi_0
python-oxmsg=0.0.1=pypi_0
python-pptx=1.0.0=pypi_0
python-socketio=5.11.3=pypi_0
python.app=3=py312h80987f9_1
pytube=15.0.0=pypi_0
pytz=2024.2=pypi_0
pyxlsb=1.0.10=pypi_0
pyyaml=6.0.2=pypi_0
qdrant-client=1.12.2=pypi_0
rank-bm25=0.2.2=pypi_0
rapidfuzz=3.12.1=pypi_0
rapidocr-onnxruntime=1.3.24=pypi_0
readline=8.2=h1a28f6b_0
red-black-tree-mod=1.20=pypi_0
redis=5.2.1=pypi_0
regex=2024.11.6=pypi_0
reproc=14.2.4=h313beb8_2
reproc-cpp=14.2.4=h313beb8_2
requests=2.32.3=py312hca03da5_1
requests-oauthlib=2.0.0=pypi_0
requests-toolbelt=1.0.0=pypi_0
responses=0.25.6=pypi_0
rich=13.9.4=pypi_0
rich-toolkit=0.13.2=pypi_0
rsa=4.9=pypi_0
rtfde=0.1.2=pypi_0
ruamel.yaml=0.18.6=py312h80987f9_0
ruamel.yaml.clib=0.2.8=py312h80987f9_0
s3transfer=0.10.4=pypi_0
safetensors=0.5.2=pypi_0
scikit-learn=1.6.0=pypi_0
scipy=1.14.1=pypi_0
seaborn=0.13.2=pypi_0
sentence-transformers=3.3.1=pypi_0
sentencepiece=0.2.0=pypi_0
setuptools=75.1.0=py312hca03da5_0
shapely=2.0.7=pypi_0
shellingham=1.5.4=pypi_0
simple-websocket=1.1.0=pypi_0
six=1.17.0=pypi_0
smmap=5.0.2=pypi_0
sniffio=1.3.1=pypi_0
sounddevice=0.5.1=pypi_0
soundfile=0.12.1=pypi_0
soupsieve=2.6=pypi_0
soxr=0.5.0.post1=pypi_0
sqlalchemy=2.0.32=pypi_0
sqlite=3.45.3=h80987f9_0
starlette=0.37.2=pypi_0
sympy=1.13.1=pypi_0
syrupy=4.8.1=pypi_0
tabulate=0.9.0=pypi_0
tenacity=9.0.0=pypi_0
tensorboard=2.18.0=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorflow=2.18.0=pypi_0
termcolor=2.5.0=pypi_0
threadpoolctl=3.5.0=pypi_0
tiktoken=0.8.0=pypi_0
tk=8.6.14=h6ba3021_0
tokenizers=0.21.0=pypi_0
torch=2.5.1=pypi_0
torchaudio=2.5.1=pypi_0
torchvision=0.20.1=pypi_0
tqdm=4.66.4=pypi_0
transformers=4.48.0=pypi_0
truststore=0.8.0=py312hca03da5_0
typer=0.15.1=pypi_0
typing-extensions=4.12.2=pypi_0
typing-inspect=0.9.0=pypi_0
tzdata=2024.2=pypi_0
tzlocal=5.2=pypi_0
ujson=5.10.0=pypi_0
unstructured=0.15.9=pypi_0
unstructured-client=0.28.1=pypi_0
uritemplate=4.1.1=pypi_0
urllib3=2.2.3=py312hca03da5_0
uvicorn=0.30.6=pypi_0
uvloop=0.21.0=pypi_0
validators=0.34.0=pypi_0
watchdog=6.0.0=pypi_0
watchfiles=1.0.4=pypi_0
wcwidth=0.2.13=pypi_0
websocket-client=1.8.0=pypi_0
websockets=14.2=pypi_0
werkzeug=3.1.3=pypi_0
wheel=0.44.0=py312hca03da5_0
wrapt=1.17.0=pypi_0
wsproto=1.2.0=pypi_0
xlrd=2.0.1=pypi_0
xlsxwriter=3.2.2=pypi_0
xmltodict=0.14.2=pypi_0
xxhash=3.5.0=pypi_0
xz=5.4.6=h80987f9_1
yaml-cpp=0.8.0=h313beb8_1
yarl=1.18.3=pypi_0
youtube-transcript-api=0.6.3=pypi_0
zipp=3.21.0=pypi_0
zlib=1.2.13=h18a0788_1
zstandard=0.23.0=py312h1a4646a_1
zstd=1.5.6=hfb09047_0
